@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

body {
  background: linear-gradient(90deg, #3cbeb5 0%, #24cff9 100%);
  font-family: Kanit, serif;
}

p {
  color: rgb(50, 49, 156);
}

.nav-link {
  color: aquamarine;
}

.navbar-nav .nav-link.active {
  color: darkgrey;
}

.navbar-brand img {
  width: 3em;
}

.navbar-toggler {
  background-color: beige;
}



.sidebar {
  color: rgb(50, 49, 156);
  background: linear-gradient(270deg, #36aaa2 0%, #20b0d4 100%);
}

.card {
  color: rgb(50, 49, 156);
  background: linear-gradient(270deg, #36aaa2 0%, #20b0d4 100%);
}

.card a {
  text-decoration: none;
  color: rgb(50, 49, 156);
}

.slide-text,
.footer-text {
  color: rgb(50, 49, 156);
  margin: auto auto;
}

.call-anim {
  animation: callanimation 2s ease 0s infinite normal forwards;
}

@keyframes callanimation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media(max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

footer,
.btn-outline-primary {

  background: linear-gradient(270deg, #36aaa2 0%, #20b0d4 100%);
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

